* {
    padding: 0;
    margin: 0;
    }

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.signup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 3px 3px 3px 5px rgb(235, 232, 232);
    border-radius: 10px;
    padding: 20px 120px;
}

/* sign up title */
h1 {
    font-size: 35px;
    padding-bottom: 15px;
    text-align: center;
}

/*  all labels */
p {
    font-size: 18px;
    padding-top: 12px;
}

/* input boxes */
input {
    padding: 8px 73px 8px 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid rgb(99, 99, 99);
    text-align: start;
    color: black;
    font-size: 18px;
}

/* placeholder texts */
input::placeholder {
    color: rgb(77, 75, 75);
    font-size: 17px;
    display: none;
}

/* sign up button */
button {
    align-self: center;
    
    font-size: 18px;
    color: white;
    background-color: #3764f7;
    margin-top: 15px;
    padding: 10px 120px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
